.cita__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2.9rem;
}

.citaForm__wrapper {
}

.citaList__wrapper {
  width: 200px;
  border: 1px solid red;
  margin-left: 0.625rem;
}
